

.actives{
    border-bottom: 2px solid gray;
}
.i1{
    margin-right: 80px;
}
.p1{
    margin-left: 43px;
    margin-top: 10px;
}
.h{
    text-align:center;
    font-size: 25px;
    color: gray;
    margin: 0;
}