div .main {
    overflow:hidden;
}
#main1 {
    height:50px;
    margin-top:5px;
    color:#9d9d9d;
    font-size: 13px;
}
#main2{
    margin-top: 5px;
    color: #9d9d9d;
    margin-bottom: 2px;
    font-size: 13px;
}
#main3{
    margin-top: 8px;
    color:#9d9d9d;
    margin-bottom: 20px;
    font-size: 13px;
}
#v1 {
    background-color:#f8f7f7;
    box-shadow:3px 3px 5px gray;
    margin-right: 15px;
}
#v2{
    background-color:#f8f7f7;
    box-shadow:3px 3px 5px gray;
    margin-right: 15px;
}
#v3{
    background-color:#f8f7f7;
    box-shadow:3px 3px 5px gray;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dd{
    margin:0;
    padding:0;
}
.form-group .txt{
    width:360px;
    height:32px;
    background:#F5F6F7;
    border-left:2px solid #999;
    border-right:2px solid #999;
}
.form-group .txta{
    width: 650px;
    height: 60px;
    background:#F5F6F7;
    border-left:2px solid #999;
    border-right:2px solid #999;
}
.none{
    display: none !important;
}

.block{
    display: block;
}